<!DOCTYPE html>

<html>
<head>
	<title>Education</title>
	<link rel="stylesheet" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">



</head>
	<body>
		<div id ="p4tprect">
			<div id="demo" style="z-index: 1;font-size:200px"></div>
				<div class="logowords">
		 			<a>instagram<br>@nicksportraits</a>
		 			<a>facebook<br>facebook.com/nick</a>
		 			<a>gmail<br>nicholimsg@gmail.com</a>
		 			<a>youtube<br>youtube.com/martynnick</a>
				</div>
	 		<div class= "p4logos">

				<a class = "logo" href = "http://www.instagram.com" id = "p4instagram"><img src = "/static/i.png"></a>
				<a class = "logo" href = "http://www.facebook.com" id = "p4facebook"><img src = "/static/f.png"></a>
				<a class = "logo" href = "http://www.gmail.com" id = "p4email"><img src = "/static/e.png"></a>
				<a class = "logo" href = "http://www.youtube.com" id = "p4youtube"><img src = "/static/y.png"></a>
			</div>
			<div class= "p4navbar">
				<a href = "homehome.html" id = "p4home">home</a>
				<a href = "projects.html" id = "p4projects">projects</a>
				<a href = "gallery.html" id = "p4gallery">gallery</a>
				<a href = "education.html" id = "p4education">edu &#38; work</a>
				<a href="javascript:void(0);" onclick= "contact()" id = "p4contacts">contacts</a>
			</div>
		</div>

		<section class="p4btmarea">
			<img id="p4bkg" src= "/static/chechespics/cheches8_1.jpg">
	    </section>


		<section>
			<div class= "p4text">

				<h1 id="p4title">Edu &#38; Work.</h1>
				<p1 id="p4para">
				<h1 style="margin-top:0;padding-top:0;">Diploma in Mechanical and Aeronautical Engineering</h1>
				Singapore Polytechnic<br>
				GPA 3.3
				<h1 >GCE 'O' Level</h1>
				St. Gabriel's Secondary School<br>
				207 points
				<h1 >Work Experience</h1>
				Uniqlo - <b>Sales Assistant</b><br>
				Kin Mun Clinic - <b>Lead Graphics Designer</b><br>
				SAF Supply Formation - <b>Graphics Designer</b><br>
			    </p1>


				<!--<p2 id="p4para2" >Im a para.<br><br>John Smith is I. Im pretty skillful at golf and treasure huntingrelated activities. My mom says I am special. That makes me feel special.John Smith is I. Im pretty skillful at golf and treasure huntingrelated activities. My mom says I am special. That makes me feel special.John Smith is I. Im pretty skillful at golf and treasure huntingrelated activities. My mom says I am special. That makes me feel special.John Smith is I. Im pretty skillful at g</p2>-->
			</div>
		</section>


		<section>
			<div class ="p4btmrect">
				<p2 id="cr">&copy; Copyright 2020-2020.<br>All rights reserved. Programmed and developed by Nicholas Lim.</p2>
			</div>
		</section>
		
	<script type="text/javascript" src="/static/javascript.js"></script>
	</body>
</html>
