<!DOCTYPE html>

<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">



</head>
	<body>
		<div id ="p1tprect">
			<div id="demo" style="z-index: 1;font-size:200px"></div>
				<div class="logowords">
		 			<a>instagram<br>@nicksportraits</a>
		 			<a>facebook<br>facebook.com/nick</a>
		 			<a>gmail<br>nicholimsg@gmail.com</a>
		 			<a>youtube<br>youtube.com/martynnick</a>
				</div>
			<section class= "p1tparea">
		 		<div class= "p1logos">

					<a class = "logo" href = "http://www.instagram.com" id = "p1instagram"><img src = "/static/i.png"></a>
					<a class = "logo" href = "http://www.facebook.com" id = "p1facebook"><img src = "/static/f.png"></a>
					<a class = "logo" href = "http://www.gmail.com" id = "p1email"><img src = "/static/e.png"></a>
					<a class = "logo" href = "http://www.youtube.com" id = "p1youtube"><img src = "/static/y.png"></a>
				</div>
				<div class= "p1navbar">
					<a href = "homehome.html" id = "p1home">home</a>
					<a href = "projects.html" id = "p1projects">projects</a>
					<a href = "gallery.html" id = "p1gallery">gallery</a>
					<a href = "education.html" id = "p1education">edu &#38; work</a>
					<a href="javascript:void(0);" onclick= "contact()" id = "p1contacts">contacts</a>
				</div>
			</section>
		</div>

		<section class="p1btmarea">
			<img id="p1bkg" src= "/static/chechespics/cheches6.jpg">
	    </section>
		<section>
			<div class= "p1text">
				<h1 id="p1title" >Hi! I'm NICHOLAS LIM</h1>
				<p1 id="p1para" >Im a para.<br><br>John Smith is I. Im pretty skillful at golf and treasure huntingrelated activities. My mom says I am special. That makes me feel special. </p1>
			</div>
		</section>


		<section>
			<div class ="p1btmrect">
				<p2 id="cr">&copy; Copyright 2020-2020.<br>All rights reserved. Programmed and developed by Nicholas Lim.</p2>
			</div>
		</section>
		
	<script type="text/javascript" src="/static/javascript.js"></script>
	</body>
</html>
