<!DOCTYPE html>

<html>
<head>
	<title>Projects</title>
	<link rel="stylesheet" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">



</head>
	<body>
		<div id ="p2tprect">
			<div id="demo" style="z-index: 1;font-size:200px"></div>
				<div class="logowords">
		 			<a>instagram<br>@nicksportraits</a>
		 			<a>facebook<br>facebook.com/nick</a>
		 			<a>gmail<br>nicholimsg@gmail.com</a>
		 			<a>youtube<br>youtube.com/martynnick</a>
				</div>
	 		<div class= "p2logos">

				<a class = "logo" href = "http://www.instagram.com" id = "p2instagram"><img src = "/static/i.png"></a>
				<a class = "logo" href = "http://www.facebook.com" id = "p2facebook"><img src = "/static/f.png"></a>
				<a class = "logo" href = "http://www.gmail.com" id = "p2email"><img src = "/static/e.png"></a>
				<a class = "logo" href = "http://www.youtube.com" id = "p2youtube"><img src = "/static/y.png"></a>
			</div>
			<div class= "p2navbar">
				<a href = "homehome.html" id = "p2home">home</a>
				<a href = "projects.html" id = "p2projects">projects</a>
				<a href = "gallery.html" id = "p2gallery">gallery</a>
				<a href = "education.html" id = "p2education">edu &#38; work</a>
				<a href="javascript:void(0);" onclick= "contact()" id = "p2contacts">contacts</a>
			</div> 
		</div>

		<section class="p2btmarea">
	        <img class="mySlides" id="p2bkg" src= "/static/vinci/P1015429edited.jpg">
	        <img class="mySlides" id="p2bkg" src= "/static/mmr/mmrbkg2.jpg">
	        <img class="mySlides" id="p2bkg" src= "/static/ss/ssbkg1.jpg">
	        <img class="mySlides" id="p2bkg" src= "/static/robby/robbybkg3.jpg">
	        <img class="mySlides" id="p2bkg" src= "/static/kmc/P1015415edited.jpg">
	        <img class="mySlides" id="p2gif1" src= "/static/wma sq.gif">
	        <img class="mySlides" id="p2bkg" src= "/static/shirt_1.jpg">
	        <img class="mySlides" id="p2bkg" src= "/static/drawings/drawbkg2.jpg">
	        <img class="mySlides" id="p2bkg" src= "/static/music/musbkg1.jpg">
	    </section>

	    <div class="arrows">
			<a src="/static/arrow.png" id ="larrow" onclick="plusDivs(-1)">&#x276F;</a>
			<a src="/static/arrow.png" id ="rarrow" onclick="plusDivs(1)">&#x276F;</a>
		</div>	
		<section>
			<div class= "p2text">

	    		<h1 id ="p2pageno">1</h1>
	    		<div id ="p2slash"></div>
	    		<h1 id ="p2pagetotal">20</h1>
				<h1 id="p2title">Projects.</h1>
				<h2 id="p2paratitle">PROJECaaaaa.</h2>

	    		<div class="p2div">
					<p1 id="p2para" >Im a para.<br><br>John Smith is I. Im pretty skillful at golf and treasure huntingrelated activities. My mom says I am special. That makes me feel special. </p1>
					<a href = "gallery.html" id="p2top3">GALLERY</a>

				</div>
			</div>
		</section>


		<section>
			<div class ="p2btmrect">
				<p2 id="cr">&copy; Copyright 2020-2020.<br>All rights reserved. Programmed and developed by Nicholas Lim.</p2>
			</div>
		</section>
		
	<script type="text/javascript" src="/static/javascript.js"></script>
	</body>
</html>
